*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:DM sans;
  font-size:18px;
  color: #111010;
  
}
h1,h2,h3,h4,h5,h6 {
  font-family:DM sans;
  font-weight: 400;
  color:#111010;
  
}
.container{
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}