*{
  box-sizing: border-box;
}
body{
  margin: 0;
  font-family:DM sans;
  /* font-size:18px; */
  color: #111010;
  
}
h1,h2,h3,h4,h5,h6 {
  font-family:DM sans;
  font-weight: 400;
  color:#111010;
  
}
.container{
  max-width: 1406px;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
}
h1{
  font-size:127px;
}
h2{
  font-size:96px;
}
h3{
  font-size:72px;
}
h4{
  font-size:48px;
}
h5{
  font-size:24px;
}
h6{
  font-size:20px;
}
[class^="col"] {
  padding: 0 10px;
}
.col-1 {
  flex: 8.3% 0 0;
}
.col-2 {
  flex: 16.6% 0 0;
}
.col-3 {
  flex: 25% 0 0;
}
.col-4 {
  flex: 33.3% 0 0;
}
.col-5 {
  flex: 41.6% 0 0;
}
.col-6 {
  flex: 50% 0 0;
}
.col-7 {
  flex: 58.3% 0 0;
}
.col-8 {
  flex: 66.6% 0 0;
}
.col-9 {
  flex: 75% 0 0;
}
.col-10 {
  flex: 83% 0 0;
}
.col-11 {
  flex: 91.6% 0 0;
}
.col-12 {
  flex: 100% 0 0;
}

.row { /* строка */
  display: flex;
  flex-wrap: wrap;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  list-style-type: none;
}
nav ul li {
  padding: 10px 15px;
  display: flex;
  justify-content: space-around;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.main-img {
  background-image: url(./images/girl\ with\ vase.png);
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  height: 640px;
  text-transform: uppercase;
  color: white;
  padding: 32px;
  font-size: 50px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.inscription {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.poster{
  background-color: rgb(247, 185, 72);
  width: 300px;
  border-radius: 80px;
  height: 40px;
  align-items: center;
  position: relative;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-transform: uppercase;
  color: #111010;
}
.circle{
  margin-left: 1150px;
  margin-top: -50px;
  position: absolute;
  background:#F1EBE4;;
  border: 1px solid #000000;
  height: 50px;
  border-radius: 128px;
  height: 130px;
  width: 130px;
}
.arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.logo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  border-bottom: 1px solid #000000;
}
.inscription h2{
  max-width: 652px;
  font-size: 96px;
line-height: 106px;
color: #fff;
}
.lorem {
  font-size: 70px;
  max-width: 1000px;
}
.our {
  margin-left: 50px;
}
.see {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  color: grey;
  font-size: 20px;
  border-bottom: 1px solid black;
  /* width: 183px;
  position: relative; */

}
.hover:hover {
  border: blue;
}
.row{
  display: flex;
}
.bestsellers{
height: 751px;
background: #F1EBE4;
border-radius: 0px;
padding-top: 82px;
}
.img-wrap{
  margin-top: 80px;
}

.plates {
font-size: 18px;
margin-left: 10px;
margin-right: 10px;
height: 480px;
width: 1440px;
}
.img-wrap img{
  width: 100%;
  display: block; 
}
.sale{
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  width: 96px;
  height: 96px;
  background-color: #FF9B3D;
}
.sale-in{
  position: relative;
  top: 37px;
  left: 30px;
}
.main-header{
border-bottom:1px solid #111010;  
}
.block-5{
  height: 634px;
  background: #F1EBE4;
 }
.line{
  text-decoration-line: line-through;
}
.list{
    text-transform: uppercase;
    margin-top: 0;
    height: 358px;
}
.order {
  border-radius: 1600px;
  box-sizing: border-box;
  background: #FFDB5B;
  border: 1px solid #111010;
  width: 256px;
  font-size: 18px;
  text-transform: uppercase;
  height: 48px;
 }
 .content{
  padding-top: 82px;
 }
 #container{
  padding: 0 120px;
 }
span{
  font-size: 24px;
  text-transform: uppercase;
}
.snowflakes{
  padding-top: 174px;
  text-align: center;
  padding-bottom: 200px;
}
.block-6{
  background: #E5E5E5;
}